<header >{{title}}</header>
<div class="links">
  <a href="./" target="_blank">Weather</a>
  <a href="/help" target="_blank">Help</a>
  <a href="/about" target="_blank">About</a>
</div>
<script src="/js/app.js"></script>